@model IEnumerable<Contact>

@{ ViewBag.Title = "Contacts"; }

<h2>Contact List</h2>

<p>
    @Html.ActionLink("Create New Contact", "Create")
</p>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.Email</td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
    </td>
</tr>}
</table>
